 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.logo {
  vertical-align: baseline;
  padding-left: 0;
  height: 2cm;
  width: 2cm;
}

.navitems{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.options a{
  font-family: sans-serif;
  justify-content: space-between;
  color: #ffffff;
}

.options ul {
  display: flex;
}

.options li{
  align-items: center;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 110px;
}

.itemsn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

/*
.navitems .navbutton{
  width: 200px;
  height: 100px;
  margin: 20px;
  padding-left: 30px;
  background-color: #ffffff;
}

.navitems .navbutton a{
  color: #000080;
}

.mobile-menu{
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;

}
*/

.mainpagebutton{
  width: 500px;
  height: 250px;
  border-radius: 20px;
  opacity: 80%;
  font-size: 45px;
  font-family:sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #000080;
  margin-top: 10px;
  cursor: pointer;
}

.mainpage li{
  justify-content: space-around;
  margin-left: 2px;
  margin-right: px;
  align-items: center;
  display: flex;
  margin-top: 12%;
} 
 

.items img{
    position: relative;
    padding-top: 20%;
    display: flex;
    left: 0;
    height: 1.3cm;
    width: 1.5cm;
    }
    
  .items{
      padding-left: 5%;
      padding-top: 10px;
      gap: 3rem;
      align-items: baseline;
      padding-bottom: 20px;
      height: 100%;
      width: 100%;
      background-color: #000080;
      display: flex;
      justify-content: space-between;
}
    
  footer h1{
      letter-spacing: 1px;
      margin-bottom: 4rem;
      font-size: 25px;
      gap: 3px;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      color: #ffffff;
      align-items:baseline;
}
    
.footer-nav-item a{
      letter-spacing: 0.5px;
      justify-content: space-between;
      font-family: Arial;
      font-size: 12px;
      text-align: justify;
      align-items: baseline;
      list-style: none;
      color: #dadada;
      padding-bottom: 15px;
}
    
.newsletter-term {
      padding-right: 10%;
}
    
.newsletter-term p{
     font-size: 15px;
     align-items: center;
     color: #dadada;
     font-family: Arial;
     padding-bottom: 13px;
}
    
.footer_social_media{
      display: flex;
      gap: 5rem;
      margin: top 1.5rem;
}
    
.footer_social_media .footer-link{
      height: 2.5rem;
      width: 2.5rem;
      color: #ffffff;
      border-radius: 50%;
}
    
.footer_social_media .footer-link i {
      font-size: 1.25rem;
}
    
#footer_copyright {
      padding-top: 20px;
      display: flex;
      color: #ffffff;
      justify-content: center;
      border: 1px solid #ffffff;
      background-color: #000080;
      font-size: 0.9rem;
      padding: 1.5rem;
      font-weight: 100;
}
    
.button{
      float:unset;
      border: solid 3px white;
      padding: 10px 15px;
      cursor: pointer;
      background-color: white;
      font-size: 15px;
      text-decoration: none;
      border-radius: 7px;
      width: 50%;
      height: 70%;
      color: #000080;
}
    
@media screen and (min-width: 768px) {
      footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
    } 
    
@media screen and (min-width: 426px) {
      footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
      }
    } 