.sign-up-informations {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.sign-up-informations .overlap-wrapper {
    background-color: #FFFFFF;
    width: 100%;
    height: 2410px;

}

.sign-up-informations .overlap {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/register/image-21.jpg);
    background-size: cover;
    background-position: 100%

}

.sign-up-informations .overlap-group {
    position: absolute;
    height: 1256px;
    height: 1852px;
    top: 447px;
    left: 90px;

}


.sign-up-informations .rectangle {
    position: absolute;
    width: 1162;
    height: 1844px;
    top: 8px;
    left: 52px;

}


.sign-up-informations .by-creating-an {
    position: absolute;
    width: 824px;
    top: 1602px;
    left: 229px;
    font-family: "Inter-Regular", Helvetica;
    font-weight:400
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;


}

.sign-up-informations .text-wrapper {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0;

}


.sign-up-informations .div {
    position: absolute;
    width: 1256px;
    height: 1580px;
    top: 0;
    left: 0;

}



.sign-up-informations .overlap-2 {
    position: absolute;
    width: 1167px;
    height: 260px;
    top: 52px;
    left: 58px;

}


.sign-up-informations .group {
    position: absolute;
    width: 1167px;
    height: 260px;
    top: 0px;
    left: 0px;

}

.sign-up-informations .overlap-group-2 {
    position: absolute;
    width: 414px;
    height: 102px;
    top: 158px;
    left: 51px;

}


.sign-up-informations .frame {
    position: absolute;
    width: 209px;
    height: 66px;
    top: 0px;
    left: 0px;

}





.sign-up-informations .rectangle-3 {
    position: absolute;
    width: 420px;
    height: 71px;
    top: 31px;
    left: 524px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .text-wrapper-3 {
    position: absolute;
    width: 289px;
    top: 369px;
    left: 655px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;


}
/*=========================================================*/
.sign-up-informations .business-name {
    position: relative;
    width: 920px;
    height: 71px;
    top: 555px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .business-field{
    position: absolute;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;
/*=========================================================*/

}



.sign-up-informations .business-address {
    position: relative;
    width: 920px;
    height: 71px;
    top: 695px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .business-field-address{
    position: absolute;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;

}

/*=========================================================*/

.sign-up-informations .ceo-name {
    position: relative;
    width: 920px;
    height: 71px;
    top: 835px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .ceo-name-field {
    position: absolute;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;

}

/*=========================================================*/

.sign-up-informations .password {
    position: relative;
    width: 920px;
    height: 71px;
    top: 975px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .password-field {
    position: absolute;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;

}

/*=========================================================*/
.sign-up-informations .password-confirm {
    position: relative;
    width: 920px;
    top: 1130px;
    height: 71px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .password-confirm-field {
    position: absolute;
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;

}

/*=========================================================*/





.sign-up-informations .text-wrapper-5 {
    position: absolute;
    width: 369px;
    top: -130px;
    left: 43px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;



}

.sign-up-informations .surname{
    background-color: transparent;
    font-family: 'poppins';
    padding: 1em;
    position: absolute;
    width: 450px;
    height: 70px;
    top: 130px;
    left: 560px;

}


.sign-up-informations .novidades{
    background-color: transparent;
    font-family: 'poppins';
    padding: 1em;
    position: absolute;
    width: 450px;
    height: 70px;
    top: 130px;
    left: 70px;

}

.sign-up-informations .verify{
    border-radius: 24px;
    padding: 10px;
    width: 440px;
    height: 60px;
    border: 1px solid black;
    color: black;
    top: 200px;
    font-size: 40px;
}


.sign-up-informations .email-box {
    position: relative;
    top: 284px;
    left: 100px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .email-field{
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 920px;
    height: 60px;
    font-size: 40px;

}



.sign-up-informations .text-wrapper-6 {
    position: absolute;
    width: 206px;
    top: 150px;
    left: 135px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;

}

.sign-up-informations .text-wrapper-name {
    position: absolute;
    width: 206px;
    top: 250px;
    left: 124px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}

.sign-up-informations .text-wrapper-business {
    position: absolute;
    width: 206px;
    top: 570px;
    left: 254px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}
.sign-up-informations .text-wrapper-professional {
    position: absolute;
    width: 206px;
    top: 570px;
    left: 804px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}

.sign-up-informations .text-wrapper-7 {
    position: absolute;
    width: 206px;
    top: 250px;
    left: 584px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}



.sign-up-informations .text-wrapper-8 {
    position: absolute;
    width: 650px;
    top: 382px;
    left: -124px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}


.sign-up-informations .select-box {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 400px;
    left: 144px;
    background-color: #FFFFFF;
    border: 3px solid;
    border-radius: 34px;
    border-color: #9E8383;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .select-field{
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 68px;
    height: 68px;
    font-size: 40px;

}

.sign-up-informations .select-box-2 {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 400px;
    left: 680px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 34px;
    border-color: #9E8383;
    box-shadow: 0px 4px 4px #000000040;

}

.sign-up-informations .select-field-2{
    border-radius: 24px;
    padding: 10px;
    border: 1px solid black;
    color: black;
    width: 68px;
    height: 68px;
    font-size: 40px;

}

.sign-up-informations .text-wrapper-9 {
    width: 171px;
    position: absolute;
    top: 792px;
    left: 122px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;


}



.sign-up-informations .rectangle-6 {
    position: absolute;
    width: 920px;
    height: 71px;
    top: 1139px;
    left: 24px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}


.sign-up-informations .text-wrapper-10 {
    width: 362px;
    position: absolute;
    top: 931px;
    left: 104px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: center;
    white-space: nowrap;


}


.sign-up-informations .text-wrapper-11 {
    position: absolute;
    width: 194px;
    top: 1075px;
    left: 133px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: center;
    white-space: nowrap;


}


.sign-up-informations .rectangle-wrapper {
    position: absolute;
    width: 920px;
    height: 60px;
    top: 1320px;
    left: 133px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}


.sign-up-informations .rectangle-7 {
    position: relative;
    width: 920px;
    height: 60px;
    top: -1px;
    left: -1px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}


.sign-up-informations .text-wrapper-12 {
    position: absolute;
    width: 383px;
    top: 1220px;
    left: 122px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: center;


}

.sign-up-informations .rectangle-8 {
    position: absolute;
    width: 920px;
    height: 60px;
    top: 1504px;
    left: 133px;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #000000040;

}


.sign-up-informations .rectangle-9 {
    position: absolute;
    width: 481px;
    height: 133px;
    top: 1710px;
    left: 388px;


}

.sign-up-informations .text-wrapper-13 {
    position: absolute;
    width: 147px;
    top: 1738px;
    left: 554px;
    font-family: "Inter", Helvetica;
    font-weight: 800;
    font-size: 25px;
    color: #000080;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border: 2px solid #000080;
    border-radius: 20px;
    margin: 2px 2px;
    padding: 16px 16px;

    cursor: pointer;

}

.sign-up-informations .text-wrapper-13:hover {
  position: absolute;
  background-color: #000080;
  color: white;
  border: 2px solid white;

}




.sign-up-informations .rectangle-10 {
    position: absolute;
    width: 52px;
    height: 37px;
    top: 1608px;
    left: 152px;
    background-color: #FFFFFF;
    border: 3px solid;
    border-color: #DADADA;


}



.sign-up-informations .image {
    position: absolute;
    width: 303px;
    height: 290px;
    top: -396px;
    left: -02px;
    object-fit: cover;

}


.sign-up-informations .image-2 {
    position: absolute;
    width: 300px;
    height: 51px;
    top: -276px;
    left: 286px;
    object-fit: cover;

}