{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static 'css/download_risk_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>
    <div class="web-app">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="navbar-wrapper">
            <div class="navbar">
              <img class="slice" src="img/slice-1.png" />
              <div class="text-wrapper">Learn</div>
              <div class="div">Support</div>
              <div class="text-wrapper-2">Product</div>
              <div class="t-o-standings">T&amp;O Standings</div>
              <div class="log-in-button">
                <div class="overlap-group"><div class="text-wrapper-3">My account</div></div>
              </div>
              <img class="image" src="img/image-20.png" />
              <img class="img" src="img/image-33.png" />
            </div>
          </div>
          <div class="footer-landing-page">
            <div class="overlap-2">
              <div class="text-wrapper-4">NEWSLETTER</div>
              <div class="text-wrapper-5">User Tips</div>
              <div class="text-wrapper-6">Escrow</div>
              <div class="text-wrapper-7">Our Venues</div>
              <div class="text-wrapper-8">SOCIAL MEDIA</div>
              <div class="text-wrapper-9">COSTUMER SERVICES</div>
              <div class="text-wrapper-10">Code of Conduct</div>
              <div class="text-wrapper-11">Terms</div>
              <div class="legal">LEGAL</div>
              <p class="p">Copyright © Hazor Group | All Rights Reserved</p>
              <div class="about-us">ABOUT US</div>
              <div class="text-wrapper-12">Privacy</div>
              <div class="text-wrapper-13">Cookie Policy</div>
              <div class="text-wrapper-14">How It Works</div>
              <div class="text-wrapper-15">Help Centre</div>
              <div class="text-wrapper-16">Who we are</div>
              <div class="text-wrapper-17">Subscribe to our newsletter:</div>
              <div class="text-wrapper-18">Newsroom</div>
              <div class="div-wrapper"><div class="text-wrapper-19">Enter your email</div></div>
              <div class="overlap-3"><div class="text-wrapper-20">Subscribe</div></div>
              <div class="social-media-frame">
                <div class="instagram-black">
                  <div class="instagram">
                    <div class="shape-wrapper"><img class="shape" src="img/shape.svg" /></div>
                  </div>
                </div>
                <div class="linkedin-black"></div>
                <div class="facebook-black"></div>
                <div class="twitter-black"></div>
              </div>
              <p class="text-wrapper-21">Home / Sign Up / Terms / Privacy Setting / Language Selection</p>
              <img class="line" src="img/line-25.svg" />
              <img class="image-2" src="img/image-13.png" />
            </div>
          </div>
          <div class="group-button-view">
            <div class="overlap-4"><div class="text-wrapper-22">Generate Risk Profile</div></div>
          </div>
          <div class="group-button-select">
            <div class="overlap-5"><div class="text-wrapper-23">Select Rating Type</div></div>
          </div>
          <div class="group-button">
            <div class="overlap-6"><div class="text-wrapper-24">Qualitative = 00s</div></div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-7"><div class="text-wrapper-24">Quantitative = 000s</div></div>
          </div>
          <div class="group-button-select-2">
            <div class="overlap-8"><div class="text-wrapper-23">Select Action Type</div></div>
          </div>
          <div class="group-button-treat">
            <div class="overlap-9"><div class="text-wrapper-24">Treat</div></div>
          </div>
          <div class="group-button-2">
            <div class="overlap-10">
              <img class="rectangle" src="img/rectangle-145-7.svg" />
              <div class="text-wrapper-24">Tolerate</div>
            </div>
          </div>
          <div class="group-button-3">
            <div class="overlap-11">
              <img class="rectangle" src="img/rectangle-145-6.svg" />
              <div class="text-wrapper-24">Terminate</div>
            </div>
          </div>
          <div class="group-button-4">
            <div class="overlap-12">
              <img class="rectangle" src="img/rectangle-145-5.svg" />
              <div class="text-wrapper-24">Transfer</div>
            </div>
          </div>
          <div class="group-button-5">
            <div class="view-risk-profile-wrapper">
              <div class="view-risk-profile">View&nbsp;&nbsp;Risk Profile</div>
            </div>
          </div>
          <div class="group">
            <div class="overlap-13">
              <div class="text-wrapper-23">Threats</div>
              <div class="text-wrapper-23">Threats</div>
            </div>
          </div>
          <div class="group-2"><div class="text-wrapper-25">Next</div></div>
          <div class="section-step">
            <div class="overlap-14">
              <div class="text-wrapper-26">Step 1</div>
              <div class="polygon-wrapper"><img class="polygon" src="img/polygon-3.svg" /></div>
            </div>
          </div>
          <div class="section-step-2">
            <div class="overlap-15">
              <img class="polygon-2" src="img/polygon-2.svg" />
              <div class="text-wrapper-27">Step 4</div>
            </div>
          </div>
          <div class="section-step-3">
            <div class="overlap-16">
              <img class="polygon-2" src="img/polygon-2.svg" />
              <div class="text-wrapper-27">Step 5</div>
            </div>
          </div>
          <div class="group-button-select">
            <div class="overlap-17"><div class="text-wrapper-23">Select Rating Type</div></div>
          </div>
          <div class="group-button">
            <div class="overlap-18"><div class="text-wrapper-24">Qualitative = 00s</div></div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-19"><div class="text-wrapper-24">Quantitative = 000s</div></div>
          </div>
          <div class="group-button-select-2">
            <div class="overlap-20"><div class="text-wrapper-23">Select Action Type</div></div>
          </div>
          <button class="button">
            <div class="overlap-21"><div class="text-wrapper-23">Submit</div></div>
          </button>
          <div class="group-button-treat">
            <div class="overlap-22"><div class="text-wrapper-24">Treat</div></div>
          </div>
          <div class="group-button-2">
            <div class="overlap-23">
              <img class="rectangle" src="img/rectangle-145-3.svg" />
              <div class="text-wrapper-24">Tolerate</div>
            </div>
          </div>
          <div class="group-button-3">
            <div class="overlap-24">
              <img class="rectangle" src="img/rectangle-145-2.svg" />
              <div class="text-wrapper-24">Terminate</div>
            </div>
          </div>
          <div class="group-button-4">
            <div class="overlap-25">
              <img class="rectangle" src="img/rectangle-145-1.svg" />
              <div class="text-wrapper-24">Transfer</div>
            </div>
          </div>
          <div class="section-step-4">
            <div class="overlap-26">
              <div class="text-wrapper-27">Step 3</div>
              <div class="img-wrapper"><img class="polygon" src="img/polygon-3.svg" /></div>
            </div>
          </div>
          <div class="section-step-5">
            <div class="overlap-27">
              <div class="text-wrapper-27">Step 2</div>
              <div class="img-wrapper"><img class="polygon" src="img/polygon-3.svg" /></div>
            </div>
          </div>
          <div class="group-3">
            <div class="overlap-28"><div class="text-wrapper-23">Opportunities</div></div>
          </div>
          <div class="group-2"><div class="text-wrapper-25">Next</div></div>
          <div class="section-step">
            <div class="overlap-29">
              <div class="text-wrapper-26">Step 1</div>
              <div class="polygon-wrapper"><img class="polygon" src="img/polygon-3.svg" /></div>
            </div>
          </div>
          <div class="section-step-2">
            <div class="overlap-30">
              <img class="polygon-2" src="img/polygon-2.svg" />
              <div class="text-wrapper-27">Step 4</div>
            </div>
          </div>
          <div class="section-step-3">
            <div class="overlap-31">
              <img class="polygon-2" src="img/polygon-2.svg" />
              <div class="text-wrapper-27">Generate Risk Profile</div>
            </div>
          </div>
          <div class="group-button-6">
            <div class="overlap-32"><div class="text-wrapper-28">Region</div></div>
          </div>
          <div class="group-4">
            <div class="overlap-33">
              <img class="rectangle-2" src="img/rectangle-144-6.svg" />
              <div class="text-wrapper-29">Send</div>
            </div>
          </div>
          <img class="group-5" src="img/group-67.png" />
          <img class="group-5" src="img/group-67.png" />
          <div class="group-send-copy-to">
            <div class="text-wrapper-30">Send copy to email</div>
            <div class="overlap-34">
              <img class="line-2" src="img/line-21.svg" /> <img class="line-3" src="img/line-22.svg" />
            </div>
          </div>
          <div class="group-button-7">
            <div class="overlap-35"><div class="text-wrapper-31">Global</div></div>
          </div>
          <div class="group-button-8">
            <div class="overlap-36"><div class="text-wrapper-32">Region</div></div>
          </div>
          <div class="group-button-9">
            <div class="oil-gas-wrapper"><div class="text-wrapper-24">Oil &amp; Gas</div></div>
          </div>
          <div class="group-button-10">
            <div class="overlap-37">
              <img class="rectangle-3" src="img/rectangle-144-2.svg" />
              <div class="text-wrapper-33">Insurance</div>
            </div>
          </div>
          <div class="group-6">
            <div class="overlap-38"><div class="text-wrapper-23">Industries</div></div>
          </div>
          <div class="group-7">
            <div class="overlap-39"><div class="text-wrapper-34">Next</div></div>
          </div>
          <div class="group-8">
            <div class="overlap-40"><div class="text-wrapper-23">Select Action Type</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
