{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/index.css' %}">-->
  </head>
  <body>
    <div class="wep-app-landing">
      <div class="overlap">
        <div class="rectangle"></div>
        <div class="div"></div>
        <img class="line" src="static/img/line-23.svg" />
        <div class="frame-top-t-o">
          <p class="lorem-ipsumlorem">
            Lorem IpsumLorem Ipsum&nbsp;&nbsp;Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem
            IpsumLorem Ipsum
          </p>
          <div class="top-t-o">Top&nbsp;&nbsp;15 T&amp;O</div>
          <div class="overlap-group">
            <div class="frame">
              <div class="overlap-2">
                <div class="div-wrapper"><div class="text-wrapper">All Sector</div></div>
                <div class="overlap-3"><div class="text-wrapper-2">Sector 2</div></div>
                <div class="overlap-4">
                  <div class="text"></div>
                  <div class="text-wrapper-3">Sector 3</div>
                </div>
                <div class="sector-button">
                  <div class="overlap-group-2"><div class="text-wrapper-4">Sector 1</div></div>
                </div>
                <div class="overlap-5">
                  <div class="text-wrapper-5">Sector 2</div>
                  <img class="img" src="static/img/rectangle-141-2.svg" />
                  <img class="rectangle-2" src="static/img/rectangle-142.svg" />
                  <div class="text-wrapper-6">Sector 4</div>
                  <div class="text-wrapper-7">Sector 5</div>
                </div>
                <div class="overlap-6">
                  <div class="text-wrapper-8">Sector 6</div>
                  <img class="rectangle-3" src="static/img/rectangle-144.svg" />
                  <div class="text-wrapper-8">Sector 6</div>
                </div>
                <div class="overlap-7">
                  <img class="rectangle-4" src="static/img/rectangle-138-2.svg" />
                  <div class="text-wrapper-9">Global</div>
                  <div class="text-2"></div>
                </div>
                <div class="overlap-8">
                  <img class="rectangle-4" src="static/img/rectangle-139-2.svg" />
                  <div class="text-wrapper-10">Region</div>
                </div>
                <div class="overlap-9">
                  <img class="rectangle-4" src="static/img/rectangle-138.svg" />
                  <div class="text-wrapper-9">Threats</div>
                </div>
                <div class="overlap-10"><div class="text-wrapper-11">Opportunities</div></div>
                <div class="overlap-11">
                  <div class="table-landing-page">
                    <div class="overlap-12">
                      <img class="rectangle-5" src="static/img/rectangle-141.svg" />
                      <div class="text-wrapper-12">Risk Title</div>
                      <div class="text-wrapper-13">Risk Rating</div>
                      <div class="text-wrapper-14">Total Comments</div>
                      <div class="text-wrapper-15">Total up Votes</div>
                      <div class="text-wrapper-16">Total down Votes</div>
                      <div class="text-wrapper-17">Rank</div>
                      <div class="rectangle-6"></div>
                      <div class="text-wrapper-18">9999</div>
                      <div class="text-wrapper-19">1</div>
                      <div class="text-wrapper-20">Risk Title 1</div>
                      <img class="line-2" src="static/img/line-26.svg" />
                      <img class="line-3" src="static/img/line-29.svg" />
                      <img class="line-4" src="static/img/line-29.svg" />
                      <img class="line-5" src="static/img/line-29.svg" />
                      <img class="line-6" src="static/img/line-29.svg" />
                      <div class="rectangle-7"></div>
                      <div class="text-wrapper-21">99%</div>
                      <div class="text-wrapper-22">32</div>
                    </div>
                    <div class="overlap-13">
                      <div class="text-wrapper-23">8888</div>
                      <div class="text-wrapper-24">2</div>
                      <div class="text-wrapper-25">Risk Title 2</div>
                      <div class="overlap-group-3"><div class="text-wrapper-26">88%</div></div>
                      <div class="text-wrapper-27">45</div>
                    </div>
                    <div class="overlap-14">
                      <div class="rectangle-8"></div>
                      <div class="rectangle-9"></div>
                      <div class="text-wrapper-28">7777</div>
                      <div class="text-wrapper-29">6666</div>
                      <div class="text-wrapper-25">Risk Title 3</div>
                      <div class="text-wrapper-30">Risk Title 4</div>
                      <div class="text-wrapper-24">3</div>
                      <div class="text-wrapper-31">4</div>
                      <div class="rectangle-10"></div>
                      <div class="rectangle-11"></div>
                      <div class="text-wrapper-32">77%</div>
                      <div class="text-wrapper-33">66%</div>
                      <div class="text-wrapper-34">35</div>
                      <div class="text-wrapper-35">55</div>
                    </div>
                    <div class="overlap-15">
                      <div class="text-wrapper-36">5555</div>
                      <div class="text-wrapper-37">Risk Title 5</div>
                      <div class="text-wrapper-38">5</div>
                      <div class="overlap-16"><div class="text-wrapper-39">55%</div></div>
                      <div class="text-wrapper-40">86</div>
                    </div>
                  </div>
                  <div class="total-comments-group"><div class="text-wrapper-41">2266</div></div>
                  <div class="total-comments-group-2"><div class="text-wrapper-41">352</div></div>
                  <div class="total-comments-group-3"><div class="text-wrapper-41">684</div></div>
                  <div class="total-comments-group-4"><div class="text-wrapper-41">3995</div></div>
                  <div class="total-comments-group-5"><div class="text-wrapper-41">3659</div></div>
                  <div class="rectangle-12"></div>
                  <div class="rectangle-13"></div>
                  <div class="rectangle-14"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p">
          Lorem IpsumLorem Ipsum&nbsp;&nbsp;Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem
          IpsumLorem Ipsum
        </p>
        <div class="blogs-newsroom-wrapper"><div class="blogs-newsroom">Blogs &amp; Newsroom</div></div>
        <img class="rectangle-15" src="static/img/rectangle-106.svg" />
        <img class="rectangle-16" src="static/img/rectangle-145.svg" />
        <div class="text-wrapper-42">View All</div>
        <div class="group">
          <div class="overlap-17">
            <img class="rectangle-17" src="static/img/rectangle-92.png" />
            <img class="rectangle-18" src="static/img/rectangle-95.svg" />
            <div class="text-wrapper-43">Overview of Privacy Policy</div>
            <img class="rectangle-19" src="static/img/rectangle-96.svg" />
            <div class="text-wrapper-44">read more</div>
            <img class="risk" src="static/img/risk-2-1.png" />
            <img class="rectangle-20" src="static/img/rectangle-104.svg" />
            <div class="risk-management-your">Risk Management: Your Safety<br />Forum</div>
            <img class="rectangle-21" src="static/img/rectangle-111.svg" />
            <div class="text-wrapper-45">read more</div>
            <img class="rectangle-22" src="static/img/rectangle-108.png" />
            <img class="rectangle-23" src="static/img/rectangle-107.svg" />
            <p class="text-wrapper-46">Reduce Risks to your employees</p>
            <img class="rectangle-24" src="static/img/rectangle-112.svg" />
            <div class="text-wrapper-47">read more</div>
          </div>
          <div class="overlap-18">
            <img class="rectangle-25" src="static/img/rectangle-103.png" />
            <img class="rectangle-26" src="static/img/rectangle-110.svg" />
            <div class="text-wrapper-48">AI Risk Profiles</div>
            <img class="rectangle-27" src="static/img/rectangle-113.svg" />
            <div class="text-wrapper-49">read more</div>
          </div>
        </div>
        <img class="line-7" src="static/img/line-31.svg" />
      </div>
      <div class="frame-wrapper">
        <div class="frame-2">
          <div class="text-wrapper-50">Service Types</div>
          <p class="lorem-ipsumlorem-2">
            Lorem IpsumLorem Ipsum&nbsp;&nbsp;Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem
            IpsumLorem Ipsum
          </p>
          <div class="overlap-group-4"><div class="text-wrapper-51">Generate AI Risk Profile</div></div>
          <div class="engage-t-o-standings-wrapper">
            <p class="engage-t-o-standings">
              <span class="span">Engage</span> <span class="text-wrapper-52"> T&amp;O Standings</span>
            </p>
          </div>
        </div>
      </div>
      <div class="overlap-19">
        <img class="rectangle-28" src="static/img/rectangle-19.svg" />
        <img class="rectangle-29" src="static/img/rectangle-86.png" />
        <p class="RISK-FORUM-platform">
          <span class="text-wrapper-53">RISK FORUM</span> <span class="text-wrapper-54"> <br />Platform</span>
        </p>
<!--        <img class="rectangle-30" src="static/img/rectangle-124.svg" />-->


        <button class="text-wrapper-55" onclick="location.href = '/verification'" >Register to Sign up</button>
<!--        <button class="registerBtn">Gusta</button>-->

        <div class="navbar">
          <img class="slice" src="static/img/slice-1.png" />
          <div class="overlap-20">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-5">
                <img class="image" src="static/img/image-19.png" />
                <img class="image-2" src="static/img/image-20.png" />
                <img class="image" src="static/img/image-19.png" />
                <img class="image-2" src="static/img/image-20.png" />
              </div>
            </div>
            <div class="text-wrapper-56">Learn</div>
            <div class="text-wrapper-57">Product</div>
            <div class="t-o-standings">T&amp;O Standings</div>
          </div>
          <div class="text-wrapper-58">Support</div>
          <div class="log-in-button">
            <div class="log-in-wrapper"><div class="log-in">Log&nbsp;&nbsp;In</div></div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <p class="lorem-ipsumlorem-3">
          Lorem IpsumLorem Ipsum&nbsp;&nbsp;Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem
          IpsumLorem Ipsum
        </p>
        <div class="text-wrapper-59">Our subscription packages</div>
      </div>
      <div class="group-2">
        <div class="overlap-21"><div class="text-wrapper-60">Free Package</div></div>
        <div class="overlap-22"><div class="text-wrapper-61">Standard Premium Package</div></div>
        <div class="overlap-23"><div class="text-wrapper-62">Premium-Pro Package</div></div>
        <div class="overlap-24"><div class="text-wrapper-63">Gold Package</div></div>
      </div>
    </div>
  </body>
</html>
