{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{% static 'css/verification.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>
        <div class="getting-the-code">


            <div class="div">
                <div CLASS="logo-button">
                <img class="image" src="/static/img/verification/image-22.png" />
<!--                <img class="image-2" src="img/verification/image-41.png" />-->
                </div>

<!--                 <img class="div" src="static/img/verification/getting-the-code.png" />-->
                <div class="frame">
                    <div class="overlap">
                        <div class="group">
                            <div class="overlap-group">


                                <img class="rectangle-1" src="/static/img/verification/rectangle-118.png" />
                                <div class="text-wrapper">Paste your Code here</div>


                                <div class="novidades">
                                    <input type="email" class="verify" type="email" id="email" pattern=".+@example\.com" size="30" required>
                                </div>




<!--                                <img class="line" src="img/verification/line-6.svg" />-->
<!--                                <div class="rectangle-2"></div>-->

<!--                                <img class="img" src="img/verification/rectangle-123.svg" />-->
                                <div class="text-wrapper-5" >Code sent to provided Email</div>


                                <button class="text-wrapper-3" onclick="location.href = '/register'" >Done</button>



                            </div>
                        </div>

<!--                        <div class="text-wrapper-4">Code</div>-->
                    </div>
                </div>

            </div>
        </div>

  </body>
</html>