{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{% static 'css/verification.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>
        <div class="getting-the-code">


            <div class="div">
                <div class="logo-button">
                <img class="image" src="/static/img/verification/image-22.png" />
<!--                <img class="image-2" src="img/verification/image-41.png" />-->
                </div>

<!--                 <img class="div" src="static/img/verification/getting-the-code.png" />-->
                <div class="frame">
                    <div class="overlap">
                        <div class="group">
                            <div class="overlap-group">


                                <img class="rectangle-1" src="/static/img/verification/rectangle-118.png" />
                                <div class="text-wrapper">Paste your Code here</div>

                                <form action="{% url 'verify_code' %}" method="post">
                                    {% csrf_token %}
                                    <div class="novidades">
                                        <input type="text" class="verify" id="code" name="code" required>
                                    </div>
                                    <button type="submit" class="text-wrapper-3">Done</button>
                                </form>


                            </div>
                        </div>

<!--                        <div class="text-wrapper-4">Code</div>-->
                    </div>
                </div>

            </div>
        </div>

  </body>
</html>