{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />


    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>

    <div class="sign-up-informations">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
          <img class="rectangle" src="/static/img/register/rectangle-118.png"/>

          <p class="by-creating-an">
            <span class="text-wrapper">By creating an account you agree with our Terms of Service, Privacy Policy and our default Notifications Settings</span>

          </p>


          <div class="div">
            <div class="">
              <div class="overlap-2">
                <div class="group">
                  <div class="overlap-group-2">
                    <div class="frame">
                    <div class="rectangle-2"></div>



                       <!--   Surname Field    -->

                        <div class="surname">
                            <input type="text" class="verify" id="name" name="name" required minlength="4" maxlength="8" size="10" />

                        </div>



                        <div class="text-wrapper-2">Business</div>
                    <div class="text-wrapper-4">Professional</div>
                  </div>
                  <div class="rectangle-4"></div>


                  <img class="line" src="/static/img/register/line-6.png"/>
                  <div class="text-wrapper-5">Personal data</div>
                </div>

                                           <!--   Surname Field    -->

              <div class="text-wrapper-6">Name</div>

               <!--                                  -->
              <div class="novidades">
                      <input type="text" class="verify" id="name" name="name" required minlength="4" maxlength="8" size="10" />

              </div>






              <div class="text-wrapper-7">Surname</div>
            </div>
            <div class="ellipse"></div>
            <div class="text-wrapper-8">Email</div>
            <div class="ellipse-2"></div>
            <div class="text-wrapper-9">Business Address</div>
            <div class="rectangle-6"></div>
            <div class="text-wrapper-10">CEO's full name</div>
            <div class="text-wrapper-11">Password</div>
            <div class="rectangle-wrapper"><div class="rectangle-7"></div></div>
            <div class="text-wrapper-12">Confirm password</div>
            <div class="rectangle-9"></div>
          </div>
          <img class="img" src="/static/img/register/rectangle-123.png"/>


            <button class="text-wrapper-13" onclick="location.href = '/mainpage'" >Done</button>


            <div class="rectangle-10"></div>
        </div>
          <img class="image" src="/static/img/register/image-20.png"/>
          <img class="image-2" src="/static/img/register/image-40.png"/>
        </div>
      </div>
    </div>
  </body>

</html>
