{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="{% static 'css/teo.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>
    <div class="web-app-t-o-page">
      <div class="div">
        <p class="support-xx-xxxxx">
          <span class="text-wrapper">Support:<br />(xx) xxxxx - xxxx<br />example@mail.dot<br /></span>
          <span class="span">Hazor Group Ltd.</span>
        </p>
        <img class="combined-shape-path" src="img/combined-shape-path.png" />
        <img class="combined-shape-path" src="static/img/teo/combined-shape-path.png" />
        <p class="p">Copyright © Hazor Group | All Rights Reserved</p>
        <div class="overlap">
          <div class="text-wrapper-2">Hazor</div>
          <div class="text-wrapper-3">group</div>
        </div>
        <div class="overlap-group">
          <img class="image-london" src="img/image-london-openstreetmap.png" />
          <img class="image-london" src="static/img/teo/image-london-openstreetmap.png" />
          <div class="group-t-o-standings">
            <div class="overlap-group-2">
              <div class="text-wrapper-4">Risk Title 1</div>
              <div class="text-wrapper-5">Risk Title 1</div>
              <div class="text-wrapper-6">1</div>
              <div class="overlap-2">
                <div class="text-wrapper-7">2</div>
                <div class="rectangle"></div>
                <div class="text-wrapper-8">3</div>
                <img class="img" src="img/rectangle-142-1.svg" />
                <img class="rectangle-2" src="img/rectangle-143-1.svg" />
                <img class="img" src="static/img/teo/rectangle-142-1.svg" />
                <img class="rectangle-2" src="static/img/teo/rectangle-143-1.svg" />
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
                <div class="risk-rating">Risk<br />Rating</div>
                <div class="total-UP-votes">Total UP<br />Votes</div>
                <p class="total-down-down">
                  <span class="text-wrapper-9">Total </span>
                  <span class="text-wrapper-10">Down<br /></span>
                  <span class="text-wrapper-9">Down</span>
                </p>
                <div class="text-wrapper-11">4</div>
                <div class="text-wrapper-12">Rank</div>
                <div class="risk-title">Risk Title &amp; Description</div>
              </div>
              <div class="text-wrapper-13">5</div>
              <div class="text-wrapper-14">6</div>
            </div>
          </div>
          <img class="line" src="img/line-9.svg" />
          <img class="line-2" src="img/line-10.svg" />
          <img class="line-3" src="img/line-11.svg" />
          <img class="line-4" src="img/line-12.svg" />
          <img class="line" src="static/img/teo/line-9.svg" />
          <img class="line-2" src="static/img/teo/line-10.svg" />
          <img class="line-3" src="static/img/teo/line-11.svg" />
          <img class="line-4" src="static/img/teo/line-12.svg" />
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <img class="line-5" src="img/line-13.svg" />
          <img class="line-6" src="img/line-14.svg" />
          <img class="line-7" src="img/line-15.svg" />
          <img class="line-8" src="img/line-16.svg" />
          <div class="rectangle-11"></div>
          <div class="group">
            <div class="overlap-3">
              <img class="rectangle-12" src="img/rectangle-150.svg" />
          <img class="line-5" src="static/img/teo/line-13.svg" />
          <img class="line-6" src="static/img/teo/line-14.svg" />
          <img class="line-7" src="static/img/teo/line-15.svg" />
          <img class="line-8" src="static/img/teo/line-16.svg" />
          <div class="rectangle-11"></div>
          <div class="group">
            <div class="overlap-3">
              <img class="rectangle-12" src="static/img/teo/rectangle-150.svg" />
              <div class="div-2"></div>
              <div class="text-wrapper-15">435</div>
              <div class="text-wrapper-16">Total Users risk</div>
            </div>
            <div class="text-wrapper-17">Total Users risk</div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-4">
              <div class="div-2"><div class="text-wrapper-18">Total Users Comments</div></div>
              <div class="text-wrapper-15">435</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-4">
              <div class="div-2"></div>
              <div class="text-wrapper-15">435</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-4">
              <div class="div-2"><div class="text-wrapper-19">Total User Dislikes</div></div>
              <div class="text-wrapper-15">435</div>
            </div>
          </div>
          <div class="group-2">
            <div class="overlap-5">
              <div class="group-count-filter">
                <div class="overlap-group-3"><div class="text-wrapper-20">999</div></div>
                <div class="overlap-6"><div class="text-wrapper-21">All</div></div>
              </div>
              <div class="rectangle-13"></div>
              <div class="text-wrapper-22">Total Risks</div>
            </div>
          </div>
          <div class="text-wrapper-23">Total User Likes</div>
          <img class="rectangle-14" src="img/rectangle-150.svg" />
          <img class="rectangle-14" src="img/rectangle-150.svg" />
          <img class="rectangle-14" src="static/img/teo/rectangle-150.svg" />
          <img class="rectangle-14" src="static/img/teo/rectangle-150.svg" />
          <div class="rectangle-15"></div>
          <div class="text-wrapper-24">435</div>
          <div class="text-wrapper-25">Total Users risk</div>
          <div class="overlap-wrapper">
            <div class="overlap-4">
              <div class="div-2"><div class="text-wrapper-18">Total Users Comments</div></div>
              <div class="text-wrapper-15">435</div>
            </div>
          </div>
          <div class="text-wrapper-26">435</div>
          <div class="text-wrapper-27">435</div>
          <div class="text-wrapper-28">Total User Dislikes</div>
          <div class="text-wrapper-23">Total User Likes</div>
          <div class="table-landing-page">
            <div class="overlap-7">
              <img class="rectangle-16" src="img/rectangle-141.svg" />
              <img class="rectangle-16" src="static/img/teo/rectangle-141.svg" />
              <div class="text-wrapper-29">Risk Title and Description</div>
              <div class="text-wrapper-30">Risk Rating</div>
              <div class="text-wrapper-31">Total up Votes</div>
              <div class="text-wrapper-32">Total down Votes</div>
              <div class="text-wrapper-33">Rank</div>
              <div class="rectangle-17"></div>
              <div class="rectangle-18"></div>
              <div class="text-wrapper-34">9999</div>
              <div class="rectangle-19"></div>
              <div class="text-wrapper-35">1</div>
              <div class="text-wrapper-36">8888</div>
              <div class="text-wrapper-37">7777</div>
              <div class="text-wrapper-38">Risk Title 1</div>
              <p class="text-wrapper-39">Risk Title Description appear with drop down menu click again to hide</p>
              <div class="text-wrapper-40">2</div>
              <div class="text-wrapper-41">Risk Title 2</div>
              <div class="text-wrapper-42">Risk Title 3</div>
              <div class="text-wrapper-43">3</div>

              <img class="line-9" src="img/line-26.svg" />
              <img class="line-10" src="img/line-27.svg" />
              <img class="line-11" src="img/line-28.svg" />
              <img class="line-12" src="img/line-29.svg" />
              <div class="rectangle-20"></div>
              <img class="polygon" src="img/polygon-4.svg" />
              <img class="polygon-2" src="img/polygon-9.svg" />
              <img class="polygon-3" src="img/polygon-9.svg" />
              <img class="line-9" src="static/img/teo/line-26.svg" />
              <img class="line-10" src="static/img/teo/line-27.svg" />
              <img class="line-11" src="static/img/teo/line-28.svg" />
              <img class="line-12" src="static/img/teo/line-29.svg" />
              <div class="rectangle-20"></div>
              <img class="polygon" src="static/img/teo/polygon-4.svg" />
              <img class="polygon-2" src="static/img/teo/polygon-9.svg" />
              <img class="polygon-3" src="static/img/teo/polygon-9.svg" />
              <div class="rectangle-21"></div>
              <div class="rectangle-22"></div>
              <div class="text-wrapper-44">99%</div>
              <div class="text-wrapper-45">88%</div>
              <div class="text-wrapper-46">77%</div>
              <div class="text-wrapper-47">55</div>
              <div class="text-wrapper-48">45</div>
              <div class="text-wrapper-49">32</div>
            </div>
            <div class="overlap-8">
              <div class="text-wrapper-50">6666</div>
              <div class="text-wrapper-51">Risk Title 4</div>
              <div class="text-wrapper-52">4</div>
              <img class="polygon-4" src="img/polygon-9.svg" />
              <img class="polygon-4" src="static/img/teo/polygon-9.svg" />
              <div class="overlap-group-4"><div class="text-wrapper-53">66%</div></div>
              <div class="text-wrapper-54">35</div>
            </div>
            <div class="overlap-9">
              <div class="text-wrapper-55">5555</div>
              <div class="text-wrapper-56">Risk Title 5</div>
              <div class="text-wrapper-57">5</div>
              <img class="polygon-5" src="img/polygon-9.svg" />
              <img class="polygon-5" src="static/img/teo/polygon-9.svg" />
              <div class="overlap-10"><div class="text-wrapper-58">55%</div></div>
              <div class="text-wrapper-59">86</div>
            </div>
            <div class="overlap-11">
              <div class="text-wrapper-60">6</div>
              <div class="text-wrapper-61">Risk Title 6</div>
              <img class="polygon-6" src="img/polygon-9.svg" />
              <img class="polygon-6" src="static/img/teo/polygon-9.svg" />
              <div class="overlap-12"><div class="text-wrapper-62">44%</div></div>
              <div class="text-wrapper-63">4441</div>
              <div class="text-wrapper-64">2</div>
            </div>
          </div>
          <div class="total-comments-group">
            <div class="overlap-13">
              <div class="rectangle-23"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-2">
            <div class="overlap-13">
              <div class="rectangle-23"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-3">
            <div class="overlap-13">
              <div class="rectangle-23"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-4">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
          <div class="total-comments-group-5">
            <div class="overlap-13">
              <div class="rectangle-23"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-6">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
          <div class="total-comments-group-7">
            <div class="overlap-13">
              <div class="rectangle-25"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-8">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
          <div class="total-comments-group-9">
            <div class="overlap-13">
              <div class="rectangle-23"></div>
              <div class="text-wrapper-65">Total Comments</div>
            </div>
          </div>
          <div class="total-comments-group-10">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
          <div class="total-comments-group-11">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
          <div class="total-comments-group-12">
            <div class="overlap-13">
              <div class="rectangle-24"></div>
              <div class="text-wrapper-65">Click to Engage</div>
            </div>
          </div>
        </div>
        <div class="overlap-14">
          <div class="group-3">
            <img class="rectangle-26" src="img/rectangle-129.svg" /> <img class="polygon-7" src="img/polygon-1.svg" />
            <img class="rectangle-26" src="static/img/teo/rectangle-129.svg" /> <img class="polygon-7" src="static/img/teo/polygon-1.svg" />
          </div>
          <div class="sector-button">
            <div class="overlap-15"><div class="text-wrapper-66">All Sector</div></div>
            <div class="overlap-16"><div class="text-wrapper-67">Sector 1</div></div>
            <div class="overlap-17"><div class="text-wrapper-68">Sector 2</div></div>
            <div class="overlap-18">

              <img class="rectangle-27" src="img/rectangle-140.svg" />
              <div class="text-wrapper-69">Sector 2</div>
              <img class="rectangle-28" src="img/rectangle-141-1.svg" />
              <img class="rectangle-29" src="img/rectangle-142.svg" />
              <img class="rectangle-27" src="static/img/teo/rectangle-140.svg" />
              <div class="text-wrapper-69">Sector 2</div>
              <img class="rectangle-28" src="static/img/teo/rectangle-141-1.svg" />
              <img class="rectangle-29" src="static/img/teo/rectangle-142.svg" />
              <div class="text-wrapper-70">Sector 3</div>
              <div class="text-wrapper-71">Sector 4</div>
              <div class="text-wrapper-72">Sector 5</div>
            </div>
            <div class="text-wrapper-73">Global</div>
            <div class="text-wrapper-74">Threats</div>
            <div class="text-wrapper-75">Opportunities</div>
            <div class="text-wrapper-76">Select Region</div>
            <div class="overlap-19"><div class="text-wrapper-77">Sector 6</div></div>
          </div>
          <div class="frame">
            <div class="overlap-20">
              <div class="text-wrapper-78">search</div>
              <img class="search-alt" src="img/search-alt-1.svg" />
            </div>
          </div>
          <div class="navbar">
            <img class="slice" src="img/slice-1.png" />
            <div class="overlap-21">
              <div class="group-4">
                <div class="overlap-group-5">
                  <img class="image" src="img/image-18.png" /> <img class="image-2" src="img/image-11.png" />
              <img class="search-alt" src="static/img/teo/search-alt-1.svg" />
            </div>
          </div>
          <div class="navbar">
            <img class="slice" src="static/img/teo/slice-1.png" />
            <div class="overlap-21">
              <div class="group-4">
                <div class="overlap-group-5">
                  <img class="image" src="static/img/teo/image-18.png" /> <img class="image-2" src="static/img/teo/image-11.png" />
                </div>
              </div>
              <div class="text-wrapper-79">Learn</div>
              <div class="text-wrapper-80">Product</div>
              <div class="t-o-standings">T&amp;O Standings</div>
            </div>
            <div class="text-wrapper-81">Support</div>
            <div class="log-in-button">
              <div class="overlap-22"><div class="text-wrapper-82">My Account</div></div>
            </div>
          </div>
        </div>
        <div class="overlap-23"><div class="text-wrapper-83">Generate Risk Profile</div></div>
        <div class="report-risk-wrapper"><div class="report-risk">Report Risk</div></div>
        <div class="overlap-24"><div class="text-wrapper-84">Home</div></div>
        <div class="text-wrapper-85">Action Buttons</div>
      </div>
    </div>
  </body>
</html>
