{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static 'css/upload_risk_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">

  </head>
  <body>
    <div class="web-app">
      <div class="div">
        <div class="navbar-blue-LOGO">
          <div class="overlap">
            <div class="t-o-standings">T&amp;O Standings</div>
            <div class="text-wrapper">Product</div>
            <div class="text-wrapper-2">Learn</div>
          </div>
          <div class="text-wrapper-3">Support</div>
          <img class="image" src="static/img/upload_risk_profile/image-20.png" />
          <div class="log-in-button">
            <div class="overlap-group">
              <img class="rectangle" src="static/img/upload_risk_profile/rectangle-146.svg" />
              <img class="rectangle" src="static/img/upload_risk_profile/rectangle-147.svg" />
              <div class="text-wrapper-4">My account</div>
            </div>
          </div>
          <img class="img" src="static/img/upload_risk_profile/image-34.png" />
          <div class="rectangle-2"></div>
        </div>
        <div class="overlap-2">
          <div class="section-step">
            <div class="overlap-3">
              <img class="polygon" src="static/img/upload_risk_profile/polygon-2.svg" />
              <div class="text-wrapper-5">Step 5</div>
            </div>
          </div>
          <div class="section-step">
            <div class="overlap-4">
              <img class="polygon" src="static/img/upload_risk_profile/polygon-2.svg" />
              <div class="text-wrapper-5">Download Risk Profile</div>
            </div>
          </div>
        </div>
        <div class="group-button">
          <div class="div-wrapper"><div class="text-wrapper-6">View Bow-Tie</div></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-5"><div class="text-wrapper-6">Causes</div></div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-6">
            <img class="rectangle-3" src="static/img/upload_risk_profile/rectangle-145-3.svg" />
            <div class="text-wrapper-6">Effects</div>
          </div>
        </div>
        <div class="group-button-2">
          <div class="overlap-7">
            <img class="rectangle-3" src="static/img/upload_risk_profile/rectangle-145-2.svg" />
            <div class="text-wrapper-6">Change Rating Type</div>
          </div>
        </div>
        <div class="group-button-3">
          <div class="overlap-8">
            <img class="rectangle-3" src="static/img/upload_risk_profile/rectangle-145-1.svg" />
            <div class="text-wrapper-6">Change Action Type</div>
          </div>
        </div>
        <div class="group-button-4">
          <div class="overlap-9">
            <img class="rectangle-3" src="static/img/upload_risk_profile/rectangle-145.svg" />
            <div class="text-wrapper-6">View Heat Map</div>
          </div>
        </div>
        <div class="overlap-10">
          <div class="group">
            <div class="overlap-11"><div class="text-wrapper-7">Risk Details</div></div>
          </div>
          <div class="group-button-5">
            <div class="overlap-12">
              <img class="rectangle-4" src="static/img/upload_risk_profile/rectangle-144.svg" />
              <div class="text-wrapper-8">Description</div>
              <img class="group-2" src="static/img/upload_risk_profile/group-25.png" />
            </div>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-13"><div class="text-wrapper-7">Risk Scoring</div></div>
        </div>
        <div class="group-4">
          <div class="overlap-14"><div class="text-wrapper-7">Risk Mitigation</div></div>
        </div>
        <div class="group-5">
          <div class="overlap-15"><div class="text-wrapper-7">Download</div></div>
        </div>
        <img class="group-6" src="static/img/upload_risk_profile/group-66.png" />
        <div class="group-wrapper"><img class="group-7" src="static/img/upload_risk_profile/group-69.png" /></div>
        <div class="overlap-16">
          <img class="rectangle-5" src="static/img/upload_risk_profile/rectangle-190.svg" />
          <img class="rectangle-6" src="static/img/upload_risk_profile/rectangle-190.svg" />
        </div>
        <div class="overlap-17">
          <img class="rectangle-5" src="static/img/upload_risk_profile/rectangle-190.svg" />
          <img class="rectangle-6" src="static/img/upload_risk_profile/rectangle-190.svg" />
        </div>
        <div class="overlap-18">
          <img class="group-7" src="static/img/upload_risk_profile/group-164.png" />
          <img class="rectangle-5" src="static/img/upload_risk_profile/rectangle-190.svg" />
          <img class="rectangle-6" src="static/img/upload_risk_profile/rectangle-190.svg" />
        </div>
        <div class="overlap-19">
          <img class="rectangle-5" src="static/img/upload_risk_profile/rectangle-190.svg" />
          <img class="rectangle-6" src="static/img/upload_risk_profile/rectangle-190.svg" />
        </div>
        <img class="line" src="static/img/upload_risk_profile/line-20.svg" />
        <div class="group-send-copy-to">
          <div class="text-wrapper-9">Send copy to email</div>
          <div class="line-wrapper"><img class="line-2" src="static/img/upload_risk_profile/line-21.svg" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
